body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}
.myLink {
    display: none
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
button.w3-button.w3-dark-grey, button.w3-button.w3-light-grey {
    float: right;
}
select {
    margin: 10px;
}
div#atributes {
    width: 85%;
}
.zmdi{
    margin-right: 10px;
}
